.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  header nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  header nav ul.active {
    display: flex;
  }

  header nav li {
    margin: 1rem 0;
  }
}
